*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	outline:none;
}

.container{
	max-width:1170px;
	margin:0 auto;
	padding-left:var(--padding-left);
	padding-right:var(--padding-right);
}

html {
  scroll-behavior:smooth;
}

a{
	text-decoration:none;
}

ul,ol,li{
	list-style:none;
}

img{
	display:block;
	width:100%;
}

.row{
	display:flex;
	flex-wrap:wrap;
	margin-left:-12px;
	margin-right:-12px;
}

.d-flex{
	display:flex;
	flex-wrap:wrap;
}
.justify-center{
	justify-content: center;
}
.justify-between{
	justify-content:space-between;
}

.justify-end{
	justify-content:flex-end;
}

.align-center{
	align-items:center;
}
.w-1,.w-2,.w-3,.w-4,.w-5,.w-6,.w-7,.w-8,.w-9,.w-10,.w-11,.w-12{
	padding-left:var(--padding-left);
	padding-right:var(--padding-right);
}

:root{
	--primary-color:#FF8700;
	--secondary-color:#fff;
	--black-color:#000;
	--pink-100:#F1E2E2;
	--blue-color:#03171e;
	--gray-color:#6D6D6D;
	--sub-font:Just Another Hand;
	--main-font:THICCCBOI;
	--fs-14:14px;
	--fs-16:16px;
	--fs-18:18px;
	--fs-20:20px;
	--fs-24:24px;
	--fs-30:30px;
	--fs-48:48px;
	--fs-70:70px;
	--fw-100:100;
	--fw-200:200;
	--fw-300:300;
	--fw-400:400;
	--fw-500:500;
	--fw-600:600;
	--fw-700:700;
	--fw-800:800;
	--fw-900:900;
	--padding-left:12px;
	--padding-right:12px;
	--l-h:1.5;
	--transition:all 0.5s;
}

.w-1{
	width:8.33%;
}
.w-2{
	width:16.66%;
}
.w-3{
	width:25%;
}
.w-4{
	width:33.33%;
}
.w-5{
	width:41.66%;
}
.w-6{
	width:50%;
}
.w-7{
	width:58.33%;
}
.w-8{
	width:66.66%;
}
.w-9{
	width:75%;
}
.w-10{
	width:83.33%;
}
.w-11{
	width:91.66%;
}
.w-12{
	width:100%;
}

body{
	font-family:var(--main-font);
	font-weight:var(--fw-500);
	color:var(--secondary-color);
	line-height:var(--l-h);
	background-color:var(--black-color);
}

/* navbar-start */
nav{
	background-color:#011920;
	padding:10px 0;
}

.social-servies a{
	color:var(--pink-100);
	padding-right:10px;
	font-size:var(--fs-14);
}

.social-servies a:last-child{
	padding-left:10px;
	border-left:1px solid var(--gray-color);
}

.offer-title {
	text-align:right;
	font-size:var(--fs-14);
}

.offer-title i{
	padding-right:10px;
	font-size:var(--fs-18);
	color:var(--primary-color);
}
/* navbar-end */
/* header-start */

header{
	padding:30px 0;
}

.logo img{
	width:140px;
}
.menu ul li a{
	color:var(--secondary-color);
	margin-right:60px;
	padding:20px 0;
	font-size:var(--fs-18);
	font-weight:var(--fw-600);
	transition:var(--transition);
} 
.menu ul li:last-child a{
	margin-right:0;
}
.menu ul li a i{
	font-size:14px;
	transition:var(--transition);
	padding-left:10px;
}
header .menu ul li .drop-down{
	position:absolute;
	background-color:var(--secondary-color);
	padding:20px;
	top:130px;
	opacity:0;
	visibility:hidden;
	transition:var(--transition);
}

header .menu ul li:hover .drop-down{
	opacity:1;
	visibility:visible;
	top:120px;
}

header .menu ul li:hover a{
	color:var(--primary-color);
}
header .menu ul li:hover a i{
	transform:rotateX(180deg);
	color:var(--primary-color);
}
 

header .menu ul li .drop-down ul li{
	padding:5px 0;
}

header .menu ul li .drop-down ul li:first-child{
	padding-top:0;
}

header .menu ul li .drop-down ul li:last-child{
	padding-bottom:0;
}
header .menu ul li .drop-down ul li a{
	margin:0;
	color:var(--black-color);
	transition:var(--transition);
}

header .menu ul li:first-child .drop-down ul li:first-child a{
	color:var(--primary-color);
}

header .menu ul li .drop-down ul li:hover a{
	color:var(--primary-color);
}


/* header-end */
/* banner-start / servies-start */
.banner{
	background-image:url(../image/banner1.jpg);
	background-position:center;
	background-size:cover;
}

.banner-content{
	padding:150px 0;
}

.banner .banner-content span,.service .service-content span,.title span, .Experience-content span{
	font-family:var(--sub-font);
	font-size:30px;
	letter-spacing:6px;
	display:inline-block;
	color:var(--primary-color);
}

.service .service-content span ,.title span, .Experience-content span{
	font-size:var(--fs-20);
}

.banner .banner-content h1 ,.title h2, .Experience-content h2{
	font-size:var(--fs-70);
	line-height:84px;
	margin:30px 0 45px;
}

.service .service-content h2 ,.title h2, .Experience-content h2{
	font-size:var(--fs-48);
	line-height:60px;
	font-weight:var(--fw-600);
}
.banner .banner-content p , .service .service-content p,.Experience-content p,.Subscribe-contact p{
	font-size:var(--fs-20);
	margin-bottom:45px;
}
.service .service-content p,.Experience-content p,.Subscribe-contact p{
	margin:30px 0;
}
.banner .banner-content p a , .service .service-content p a,.Experience-content p a,.Subscribe-contact p a{
	color:var(--primary-color);
	text-decoration:underline;
	padding-left:10px;
}
.banner .banner-content button , .service .service-content button,.Experience-content button{
	width:170px;
	height:60px;
	border:1px solid var(--secondary-color);
	background-color:transparent;
	transition:var(--transition);
}
.banner .banner-content button:hover ,.service .service-content button:hover,.Experience-content button:hover{
	background-color:var(--primary-color);
	border:1px solid var(--primary-color);
	transform: translateY(-5px);
	cursor:pointer;
}
.banner .banner-content button a , .service .service-content button a,.Experience-content button a{
	font-size:18px;
	color:var(--secondary-color);
}

.service , .review , .Subscribe{
	padding:100px 0;
	background-image:url(../image/service-bg.jpg);
	background-position:center;
}

.service .service-content{
	padding:30px;
}

.service .offer-section {
	padding-top:110px;
}
.service .offer-section img{
	transition:var(--transition);
}
.service .offer-section img:hover{
	transform:translatey(-5px);
}
/* banner-end / servies-start*/

/* menu-section start */
.title{
	text-align:center;
}
.menu-bg{
	padding:130px 0;
	background-image:url(../image/menu-bg.jpg);
	background-position:center;
	background-size:cover;
}

.menu-section .title{
	text-align:center;
	padding-bottom:70px;
}

.menu-section .title .menu-btn button{
	padding:13px 30px;
	color:var(--secondary-color);
	background-color:transparent;
	border:1px solid var(--secondary-color);
	font-size:var(--fs-16);
	margin:10px;
}

.menu-section .title .menu-btn  button:first-child{
	border:1px solid var(--primary-color);
	color:var(--primary-color);
}
.menu-section .title .menu-btn button:hover{
	cursor:pointer;
}

.menu-section .main-menu .menu-name h3{
	font-size:var(--fs-18);
}
.menu-section .main-menu .menu-name span{
	font-size:var(--fs-14);
	background-color:var(--primary-color);
	padding:5px;
	margin-left:10px;
}
.menu-section .main-menu .menu-border{
	width:150px;
	border-top:2px dotted var(--gray-color);
}
.menu-section .main-menu .menu-price{
	font-size:var(--fs-18);
	font-weight:var(--fw-600);
}

.menu-section .menu-content p{
	font-size:var(--fs-16);
	color:var(--gray-color);
	padding-top:10px;
	font-weight:var(--fw-700);
}
.menu-content ul li{
	padding:22px 0;
}
.menu-content{
	position:relative;
}
.menu-content .right-arrow img{
	width:50px;
	position:absolute;
	bottom:-10px;
	right:0;
	transition:var(--transition);
}
.menu-content .right-arrow:hover img{
	transform:translateX(5px);
	cursor:pointer;
}
/* menu-section end */
/* Experience start */
.Experience{
	background-image:url('../image/menu-bg.jpg');
	background-position:center;
	background-size:cover;
}

.Experience-content h2{
	background-image:url(../image/petan.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}
.quality-content h4{
	font-size:var(--fs-24);
	padding-bottom:10px;
}
.quality-content p{
	font-size:var(--fs-16);
	padding-bottom:60px;
}
.padding{
	padding-left:0px;
	padding-right:0px;
}
.order{
	order:-1;
}
.booking{
	background-image:url('../image/booking-bg.jpg');
	background-size:200%;
	background-position:left top;
	background-repeat:no-repeat;
}
.booking-content h4{
	font-size:var(--fs-24);
	padding-left:50px;
	margin-bottom:10px;
}
.booking-content ul{
	padding-left:50px;
}
.booking-content ul li{
	font-size:var(--fs-18);
	padding-bottom:15px;
}
.booking-content .timing ul:last-child li{
	padding-left:50px;
}
.booking-content .timing ul:first-child li:last-child{
	color:var(--primary-color);
}
.booking-content button{
	display:block;
	margin:30px 0 0 50px;
}
.booking-content h2{
	background-image:none;
}

/* Experience end */
/* Review strat */
.review-title{
	text-align:center;
}
.review-content{
	background-color:#03171e;
	padding:30px 30px 50px;
	position:relative;
	overflow:hidden;
}
.review-content .review-icon img{
	width:41px;
}
.review-content p{
	font-size:var(--fs-16);
	padding-bottom:25px;
}
.review-content h4{
	font-size:var(--fs-18);
	color:var(--primary-color);
}
.review-content span{
	font-size:var(--fs-14);
	color:#d6d6d6;
}
.review-content .review-men{
	width:150px;
	height:150px;
	border-radius:50%;
	position:absolute;
	right:-25px;
	bottom:-25px;
}
.review-content .review-men img{
	width:100%;
	height:100%;
	border-radius:50%;
}
.img-border{
	width:100%;
	height:100%;
	padding:15px;
	border-radius:50%;
	border:1px solid #353535;
}

/* Review end */
/* blog start */
.blog{
	background-image:url('../image/blog-bg.jpg');
	padding:100px 0;
	background-position:center;
	background-size:cover;
}
.card{
	background-color:var(--blue-color);
}
.card .blog-img{
	height:300px;
	overflow:hidden;
}
.card .blog-img img{
	width:100%;
	height:100%;
	object-fit:cover;
	transition:var(--transition);
}
.card .blog-img:hover img{
	transform:scale(1.1) rotate(-2deg);
}
.card .blog-content{
	padding:20px;
}
.card .blog-content span, .card .blog-content span a{
	font-size:var(--fs-14);
	color:var(--primary-color);
	padding-bottom:5px;
}
.card .blog-content h4 a{
	font-size:23px;
	color:var(--secondary-color);
	padding-bottom:10px;
	transition:var(--transition);
}
.card .blog-content h4 a:hover{
	color:var(--gray-color);
}
.card .blog-content p a{
	display:flex;
	align-items:center;
}
.card .blog-content p a{
	font-size:var(--fs-14);
	color:var(--gray-color);
	font-weight:var(--fw-600);
	transition:var(--transition);
}
.card .blog-content p a i{
	padding-left:5px;
}
.card .blog-content p a:hover{
	color:var(--primary-color);
}
/* blog end */
/* Subscribe strat */
.Subscribe{
	padding:0;
	width:100%;
	height:100%;
}
.Subscribe .title{
	padding:10px;
}
.Subscribe .title span{
	margin-bottom:0;
}
.Subscribe .title h2{
	margin-bottom:20px;
}
.Subscribe-contact{
	text-align:center;
	padding:10px;
}
.Subscribe .Subscribe-contact h3{
	padding-bottom:30px;
	font-size:var(--fs-18);
}
.Subscribe-contact p{
	margin-bottom:0;
}
.Subscribe-contact form span{
	width:50%;
	height:60px;
	display:inline-block;
	position:relative;
}
.Subscribe-contact form span input{
	width:100%;
	height:100%;
	background-color:transparent;
	border:1px solid var(--secondary-color);
	padding-left:10px;
	font-size:var(--fs-14);
	color:var(--secondary-color);
}
.Subscribe-contact form span input:focus{
	border:1px solid var(--primary-color);
}
.Subscribe-contact form span a{
	width:120px;
	height:54px;
	background-color:var(--secondary-color);
	color:var(--black-color);
	font-size:var(--fs-18);
	display:flex;
	justify-content:center;
	align-items:center;
	position:absolute;
	top:3px;
	right:3px;
	transition:var(--transition);
}
.Subscribe-contact form span a:hover{
	background-color:var(--primary-color);
	color:var(--secondary-color);
}
/* Subscribe end */

/* top-btn-strat */
.top-btn{
	width:45px;
	height:45px;
	border-radius:50%;
	background-color:var(--primary-color);
	position:fixed;
	right:20px;
	bottom:20px;
	display:flex;
	justify-content:center;
	align-items:center;
	line-height:0;
}
.top-btn a i{
	font-size:var(--fs-24);
	color:var(--secondary-color);	
}
/* top-btn */
/* footar start */
.footer{
	padding:120px 0;
	background-image:url('../image/footer-bg.jpg');
	background-position:center;
	background-size:cover;
}
.footer .footer-content img{
	width:140px;
}
.footer .footer-content a p{
	margin-top:20px;
	font-size:var(--fs-14);
	word-spacing:2px;
	color:var(--secondary-color);
	transition:var(--transition);
}
.footer-content a p:hover{
	color:var(--primary-color);
}
.footer .footer-content h3{
	font-size:var(--fs-24);
}
.footer .footer-content a i{
	font-size:var(--fs-14);
	color:var(--secondary-color);
	width:30px;
	height:30px;
	border:1px solid var(--secondary-color);
	border-radius:50%;
	line-height:30px;
	text-align:center;
	margin-right:6px;
	display:inline-block;
	transition:var(--transition);
}

.footer .footer-content a i:hover{
	background-color:var(--secondary-color);
	color:var(--primary-color);
	cursor:pointer;
}
.footer .footer-content h6{
	padding-top:30px;
	font-family:var(--main-font);
	font-size:var(--fs-14);
	word-spacing:3px;
}
.first p{
	padding:40px 0;
}
.footer-content span{
	margin-top:20px;
	display:inline-block;
}
.policy{
	text-align:center;
	background-color:#011920;
}
.policy h5{
	padding:20px;
	font-size:var(--fs-14);
	font-family:var(--main-font);
}
.policy h5 span{
	color:var(--primary-color);
	font-size:var(--fs-16);
}
/* footar end */
.d-none{
	display: none;
}
header .menu{
	position: fixed;
	width: 100%;
	background-color: var(--black-color);
	left:0;
	top:190px;
	z-index: 99999;
}
header .menu ul{
	flex-direction: column;
}
header ul li{
	padding: 5px 20px;
}